@import url('https://fonts.googleapis.com/css?family=PT+Sans');
/********** buttons and other *********/
html,body{
    overflow-x: hidden;
    font-family: 'PT Sans', sans-serif;
    color: #005f89;
}

.draw::before, .draw::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}
.draw {
    transition: color 0.25s;
}
.draw::before, .draw::after {
    border: 1px solid transparent;
    width: 0;
    height: 0;
}
.draw::before {
    top: 0;
    left: 0;
}
.draw::after {
    bottom: 0;
    right: 0;
}
.draw:hover {
    color: #000;
}
.draw:hover::before, .draw:hover::after {
    width: 100%;
    height: 100%;
}
.draw:hover::before {
    border-top-color: #005f89;
    border-right-color: #005f89;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
    border-bottom-color: #005f89;
    border-left-color: #005f89;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.colored-button{
    display: inline-block;
    border: none;
    text-transform: uppercase;
    font-size: 0.8125rem;
    color: #fff;
    background-color: rgba(0, 147, 183, 1);
    font-weight: bold;
    padding: 15px 35px;
    transition: all .3s ease-in-out,color 0.25s ;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
}
.colored-button:hover,.colored-button:active,.colored-button:focus{
    color: #005f89;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.7);
}

.container-header{
    padding-top: 25px;
    padding-bottom: 40px;
}
.container-header h3{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}
.container-header hr{
    border-top-color: #0093b7;
    width: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.inner-container{
    padding-top: 75px;
    padding-bottom: 75px;
}
/***** animations ********/

/******** navbar *****/
.navbar{
    background-color: #0093b7;
}
.navbar-dark .navbar-nav .nav-link{
    position: relative;
    color: rgb(230,236,235);
    text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:active,
.navbar-dark .navbar-nav .nav-link:focus{
    color: rgb(230,236,235);
}
.navbar-dark .navbar-nav .nav-link:after{
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgb(230,236,235);
    transform: scaleX(0);
    transition: transform .3s ease;
}
.navbar-dark .navbar-nav .nav-link:hover:after{
    transform: scaleX(.75);
}
.navbar-dark .navbar-nav .active .nav-link:after{
    transform: scaleX(.75);
}
.navbar-brand img{
    max-height: 60px;
}
.society{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 500px;
    height: 100vh;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.society-btn{
    margin-bottom: 10px;
}
.society img{
    width: 40px;
    height: 40px;
    transition: transform .3s ease-in;
}
.society a:hover img{
    transform: scale(1.2);
}
/********* gift *********/
#gift-container{
    position: fixed;
    top: -500vh;
    transition: top .3s linear;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.8);
}
.show-gift-container{
    top: 0 !important;
}
#gift-container .row{
    width: inherit;
    height: inherit;
}
#gift-container .gift-letters{
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
    display: block;
}
#gift-container .gift-letters-sale{
    color: white;
    display: block;
    text-transform: uppercase;
    font-size: 2rem;
}
#gift_button{
    margin-top: 40px;
}
/******** main **********/
.main-container{
    background: url("../img/main_1.jpg") no-repeat center/cover;
    background-attachment: fixed;
    position: relative;
}
.main-container:after,.offer-container:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: radial-gradient(rgba(0, 147, 183, 0.2), rgb(0, 0, 0));
}
.main-container>.inner-container{
    position: relative;
    z-index: 3;
    color: #e6eceb;
    padding-top: 0;
    padding-bottom: 0;
}
.headers{
    min-height: 700px;
    height: 100vh;
    position: relative;
    z-index: 3;
    color: #e6eceb;
}
.headers h1,.headers h2{

}
.last-header{
    margin-bottom: 20px;
}
/******* works *************/
.works-container{

}
.works-row{
    margin-top: 35px;
    margin-bottom: 35px;
}
.works-elem-wrapper{
    overflow: hidden;
    position: relative;
    padding: 0;
}
.works-elem-wrapper img{
    width: 100%;
    height: auto;
}
.works-elem-description{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 147, 215, 0.7);
    opacity: .0;
    transition: opacity .3s ease-in-out;
}
.works-elem-description hr{
    border-top-color: white;
    width: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.works-elem-description h5,.works-elem-description h6{
    font-weight: bold;
    color: white;
    transition: margin .3s linear;
}
.works-elem-description h5{
    margin-top: -50px;
}
.works-elem-description h6{
    margin-bottom: -50px;
}
.works-elem-description h5{
    text-transform: uppercase;
}
.works-elem-wrapper:hover .works-elem-description{
    opacity: 1.0;
}
.works-elem-wrapper:hover .works-elem-description h5,
.works-elem-wrapper:hover .works-elem-description h6{
    margin-top: 0;
    margin-bottom: 0;
}
/********* offer **********/
.offer-container{
    background: url("../img/parts.jpg") no-repeat center/cover;
    background-attachment: fixed;
    color: #e6eceb;
    position: relative;
}
.offer-container:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: radial-gradient(rgba(0, 147, 183, 0.7), rgb(0, 0, 0));
}
.offer-row{
    position: relative;
    z-index: 3;
    min-height: 300px;
}
.offer-row p{
    color: #e6eceb;
    font-size: 1.6rem;
    font-weight: bold;
}
/********* advantages **********/
.adv-elem-header{
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 5px;
}
/************ focus ************/
.focus-container{
    background-color: #005f89;
    padding-top: 50px;
    padding-bottom: 50px;
}
.focus-container .row{
    min-height: 200px;
}
.focus-container h1{
    color: #e6eceb;
    font-size: 2rem;
    text-transform: uppercase;
}
.focus-container h5{
    color: #e6eceb;
    font-size: 2rem;
    text-transform: uppercase;
}

/****** we works *******/
.we-works-container{
    background-color: white;
    padding-bottom: 60px;
}

.we-works-container .container-header hr{
    border-top-color: #1c2a33;
}
.we-works-elem{

    margin-bottom: 10px;
}
.circle-works{
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: #005f89;
    border: 2px solid #63cdd7;
    position: relative;
    text-align: center;
}
.we-works-elem:nth-child(2n) .circle-works{
    background-color: #63cdd7;
    border: 2px solid #005f89;
}
.circle-works span{
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    color: #63cdd7;
    line-height: 75px;
    margin-left: 2px;
}
.we-works-elem:nth-child(2n) .circle-works span{
    color: #005f89;
}
.we-works-elem-text p{
    font-family: 'Rubik', sans-serif;
    font-size: 1.25rem;
    color: #005f89;
    font-weight: bold;
    margin-bottom: 0;
}
/************ achievements **********/
.achievements-container{
    background-color: #005f89;
    color: #e6eceb;
    padding-bottom: 65px;
}
.ach-elem-inner {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: #005f89;
    color: #63cdd7;
    border: 2px solid #63cdd7;
}
.ach-elem-inner h5{
    font-size: 3rem;
    margin-bottom: -5px;
}
.ach-elem-inner p{
    margin: 0;
    padding: 0;
}
.achievements-container .reverse-color{
    background-color: #63cdd7;
    color: #005f89;
    border: 2px solid #005f89;
}
/******** contacts ********/
.contacts-container{
    background-color: #005f89;
    color: #e6eceb;
}

.contacts-info ul{
    list-style: none;
}
.contacts-info a{
    text-decoration: none;
    color: #e6eceb;
}
.contacts-info ul li{
    color: #e6eceb;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contacts-info ul li span{
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
}
.contacts-info-header{
    text-transform: uppercase;
    font-weight: bold;
}
.contacts-row>div{
    margin-bottom: 40px;
}
.form-header{
    color: #e6eceb;
    font-weight: bold;
}
.contacts-form textarea{
    resize: none;
}
.contacts-form input,.contacts-form textarea,
.contacts-form input:focus,.contacts-form textarea:focus,
.contacts-form input:active,.contacts-form textarea:active,
.contacts-form select,.contacts-form select:focus,.contacts-form select:active{
    border: 1px solid #e6eceb;
    background-color: #005f89;
    box-shadow: none;
    color: #e6eceb;
}
.contacts-form input::placeholder,.contacts-form textarea::placeholder,
.contacts-form input:focus::placeholder,.contacts-form textarea:focus::placeholder,
.contacts-form input:active::placeholder,.contacts-form textarea:active::placeholder{
    color:  #e6eceb;
    opacity: 1; /* Firefox */
}

.contacts-form input:-ms-input-placeholder,.contacts-form textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #e6eceb;
}

.contacts-form input::-ms-input-placeholder,.contacts-form textarea::-ms-input-placeholder { /* Microsoft Edge */
    color:  #e6eceb;
}

#message {
    display: none;
}
@media (max-width: 928px) {
    html{
        font-size: 20px;
    }
    .headers{
        min-height: 300px;
    }
    .headers h1,.headers h2{
        font-size: 1.3rem;
    }
    .focus-container h1,.focus-container h5{
        text-align: center ;
    }
    .ach-elem-wrapper{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #gift-container .gift-letters,#gift-container .gift-letters-sale{
        font-size: 1rem;
    }
}